{
  "extends": "seek",
  "rules": {
    "no-console": 0,
    "no-process-exit": 0,
    "no-sync": 0
  },
  "globals": {
    "__SKU_PUBLIC_PATH__": true,
    "__SKU_SRC_PATHS_0__": true,
    "__SKU_SRC_PATHS_1__": true,
    "__SKU_SRC_PATHS_2__": true,
    "__SKU_SRC_PATHS_3__": true,
    "__SKU_SRC_PATHS_4__": true,
    "__SKU_SRC_PATHS_5__": true,
    "__SKU_SRC_PATHS_6__": true,
    "__SKU_SRC_PATHS_7__": true,
    "__SKU_SRC_PATHS_8__": true,
    "__SKU_SRC_PATHS_9__": true
  }
}
