{
  "extends": "seek",
  "rules": {
    "no-console": "off",
    "no-process-exit": "off",
    "no-sync": "off",
    "import/no-unresolved": [
      "error",
      {
        "commonjs": true,
        "amd": true,
        "ignore": [
          "__sku_alias__renderEntry",
          "__sku_alias__serverEntry",
          "__sku_alias__assets"
        ]
      }
    ]
  },
  "globals": {
    "__SKU_SRC_PATHS_0__": true,
    "__SKU_SRC_PATHS_1__": true,
    "__SKU_SRC_PATHS_2__": true,
    "__SKU_SRC_PATHS_3__": true,
    "__SKU_SRC_PATHS_4__": true,
    "__SKU_SRC_PATHS_5__": true,
    "__SKU_SRC_PATHS_6__": true,
    "__SKU_SRC_PATHS_7__": true,
    "__SKU_SRC_PATHS_8__": true,
    "__SKU_SRC_PATHS_9__": true,
    "browser": true
  }
}
