node_modules/
*.log
package-lock.json
.idea
entry/render/startConfig.json
dist-start/
dist-build/

# managed by sku
.prettierrc
coverage/
dist-storybook/
dist/
report/
tsconfig.json
tslint.json
# end managed by sku
