# Make sure the default patterns are still included (https://pnpm.io/npmrc#public-hoist-pattern)
public-hoist-pattern[]="*eslint*"
public-hoist-pattern[]="*prettier*"

# `sku` itself needs these to be hoisted
public-hoist-pattern[]="babel-loader"
public-hoist-pattern[]="css-loader"

# This is only necessary in this repo because pnpm symlinks the sku dependency in fixtures to the sku package folder directly
# This bypasses the .pnpm folder that resolveModules looks for
# See https://github.com/seek-oss/sku/blob/275752bd3066e52885d461ef5bcd953aaac3bfff/config/webpack/resolveModules.js
public-hoist-pattern[]="@babel/*"

resolution-mode="highest"
