# `treat` needs this to be hoisted
public-hoist-pattern[]="virtual-resource-loader"
public-hoist-pattern[]="babel-loader"
public-hoist-pattern[]="css-loader"

# Feel like this shouldn't be needed
public-hoist-pattern[]="@babel/*"
