*.less.d.ts
node_modules
coverage/
dist/
dist-ssr/
dist-build/
storybook-static/
custom-output-directory/
dist-start/
report/
template/
.changeset/*.md
CHANGELOG.md
.vscode/
pnpm-lock.yaml
.eslintcache
fixtures/*/eslint.config.js
fixtures/*/eslint.config.mjs
fixtures/*/.prettierrc
fixtures/*/tsconfig.json
*.hbs
