# managed by sku
.eslintcache
.prettierrc
coverage/
custom-output-directory/
dist-build/
dist-ssr/
dist-start/
dist-vite-ssr/
dist/
eslint.config.mjs
pnpm-lock.yaml
report/
tsconfig.json
# end managed by sku
