/**/*.vocab/index.ts

# managed by sku
**/*.vocab/index.ts
.eslintcache
.prettierrc
coverage/
dist-build/
dist-ssr/
dist-start/
dist-vite-ssr/
dist/
eslint.config.mjs
report/
tsconfig.json
# end managed by sku
