name: Release

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  release:
    name: Publish & Deploy docs
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    env:
      CI: true
    timeout-minutes: 15
    steps:
      - name: Check out Repo
        uses: actions/checkout@v6
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0
          token: ${{ secrets.SEEK_OSS_CI_GITHUB_TOKEN }}

      - uses: pnpm/action-setup@v3

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          cache: pnpm
          node-version-file: package.json

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build Sku
        run: pnpm build

      # Ensure npm 11.5.1 or later is installed
      - name: Install latest npm
        run: npm install -g npm@latest

      - name: Create Release Pull Request or Publish to npm
        uses: changesets/action@v1
        with:
          version: pnpm run version
          publish: pnpm run release
        env:
          GITHUB_TOKEN: ${{ secrets.SEEK_OSS_CI_GITHUB_TOKEN }}

  snapshot:
    name: Publish snapshot version
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    env:
      CI: true
    steps:
      - name: Check out repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v3

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          cache: pnpm
          node-version-file: package.json

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build Sku
        run: pnpm build

      # Ensure npm 11.5.1 or later is installed
      - name: Install latest npm
        run: npm install -g npm@latest

      - name: Publish
        uses: seek-oss/changesets-snapshot@v0
        env:
          GITHUB_TOKEN: ${{ secrets.SEEK_OSS_CI_GITHUB_TOKEN }}
