name: Validate

on: [push, pull_request]

jobs:
  skip_check:
    name: Check concurrent runs
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - uses: fkirc/skip-duplicate-actions@v5
        id: skip_check
        with:
          concurrent_skipping: same_content_newer
          cancel_others: true
          # We want to skip only concurrent runs. Subsequent runs/retries should be allowed.
          skip_after_successful_duplicate: false

  test:
    name: Lint & Test
    needs: skip_check
    if: needs.skip_check.outputs.should_skip != 'true'
    runs-on: ubuntu-latest
    env:
      CI: true
    timeout-minutes: 30
    steps:
      - name: Check out Repo
        uses: actions/checkout@v4

      - id: pnpm-setup
        uses: pnpm/action-setup@v3

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          cache: pnpm
          node-version-file: package.json

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build Sku
        run: pnpm build

      - name: Cache babel-loader
        id: babel-loader-cache
        uses: actions/cache@v5
        with:
          path: 'fixtures/*/node_modules/.cache/babel-loader'
          key: babel-loader-${{ runner.os }}-${{ hashFiles('./pnpm-lock.yaml') }}

      - name: Set up hosts
        # Couldn't get `sudo pnpm setup-test-hosts` to work
        run: sudo ${{ steps.pnpm-setup.outputs.bin_dest }}/pnpm setup-test-hosts

      - name: Lint
        run: pnpm lint

      - name: Install Playwright Browsers
        run: pnpm exec playwright install chromium --with-deps

      - name: Test
        run: aa-exec --profile=chrome pnpm run test
